.content {
    background-color: #665b5b;
    font-weight: bolder;
    padding: 20px;
    .header {
        color: red;
    }
    .error-message {
        font-size: 20px;
        color: green;
    }
}